ul.itemDetail li {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    .containerInfo {
        margin-top: 50px;
        p{
            font-family: sans-serif;
        }
        p.title {
            font-weight: bold;
            font-size: 40px;
        }
        p.desc {
            margin-top: 20px;
            font-size: 20px;
        }
        p.price {
            margin-top: 10px;
            font-weight: bold;
            font-size: 20px;
        }
    }
}