.itemDetail li {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    img{
        width: 500px;
        height: auto;
    }
    .containerInfo {
        margin-top: 50px;
        p{
            font-family: sans-serif;
        }
        p.title {
            font-weight: bold;
            font-size: 40px;
        }
        p.desc {
            margin-top: 20px;
            font-size: 20px;
        }
        p.price {
            margin-top: 10px;
            font-weight: bold;
            font-size: 20px;
        }
    }
}