a.verDetalle {
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    background-color: #a242e2;
    padding: 10px;
    border-radius: 6px;
    font-family: sans-serif;
}