*{
    margin: 0;
    padding: 0;
}
.navBar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(162, 66, 226);
    .navBarContainer{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-family: sans-serif;
            font-weight: bold;
            &:hover{
                text-decoration: underline;
            }
        }
        li{
            list-style: none;
            font-size: 20px;
            font-family: sans-serif;
            color: white;
            font-weight: bold;
         
        }
    }
}